.masterhead{
    height: 100vh;
    min-height: 500px;
    background-image: url("https://images.wallpaperscraft.com/image/stars_space_galaxy_117958_1920x1080.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    color:white;

}
.content-header{
    color:white;
    font-family: "Bookman Old Style", cursive;
    font-size: 30px;
}